# انسخ هذا الملف إلى .env داخل mobile-app
# ثم ضع IP جهاز الكمبيوتر على نفس الشبكة
EXPO_PUBLIC_API_URL=http://192.168.1.15:5000

# ضع EAS project id حتى تعمل الإشعارات بعد بناء التطبيق
EXPO_PUBLIC_EAS_PROJECT_ID=YOUR_EAS_PROJECT_ID
